body {
  background-color: #fff6e9;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 52px;
  margin: 20px;
  color: #865715;
}

p {
  text-align: center;
  font-weight: normal;
  font-size: 15px;
}

.link {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.link a {
  margin: 10px;
  border-radius: 4px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  border: 1px solid #eec791;
  color: white;
  background: #b67315;
}

.about-link {
  border: 1px solid #eec791;
  color: #eec791;
}

.photo-link {
  border: 1px solid #684109;
  color: #946b33;
}

.homepage-link {
  border: 1px solid #eec791;
  color: white;
  background: #684109;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 4%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.column {
  flex-basis: 25%;
  padding: 5px;
}

.column img {
  width: 100%;
  height: auto;
}
